<header class="header">
    <div class="parallax_image_container">
        <div class="parallax_image">
        </div>
        <div class="header_wrapper">
            <div class="header_container">
                <div class="logo_container noselect">
                    <h1>Kosmetolog</h1>
                </div>

                <nav class="nav_container">
                    <ul class="header_nav noselect">
                        <li>
                            <a class="nav_link" href="<?= $local_path; ?>/index.php">обо мне</a>
                        </li>
                        <li>
                            <a class="nav_link" href="<?= $local_path; ?>/articles.php">статьи</a>
                        </li>
                        <li>
                            <a class="nav_link" href="<?= $local_path; ?>/service.php">услуги</a>
                        </li>
                    </ul>
                </nav>

                <div class="contact_container">
                    <div class="call_btn noselect">оставить заявку</div>
                </div>
            </div>
        </div>
    </div>
</header>