.header{
    height: 120px;
    align-items: center;
}

.header_wrapper{
    height: 100%;
    display: flex;
    width: 100vw;
    align-items: center;
}

.header_container{
    width: 100%;
}


.parallax_image_container{
    height: 100%;
}

.parallax_image{
    height: 100%;
    background-image: none;
    background-color: #f3bcbc;
}