<div class="call_me_wrapper">
    <div class="call_me_container" onclick="event.stopPropagation()">
        <div class="close_call_me_btn"></div>
        <div class="text_content">
            <h3 class="call_me_h3">Отправить заявку</h3>
        </div>
        <div class="request_container">
            <form action="./services/email_server.php" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <button id="service_request_btn" formmethod="post">XML</button>
                <button type="submit">SUB</button>
            </form>
            <script>
                const form = document.querySelector('form');
                form.addEventListener('submit', evt => {
                    evt.preventDefault();
                    fetch('http://localhost:63342/kosmet_project/services/email_server.php', {
                        method: 'POST',
                        body: new FormData(form)
                    }).then(response=>response.json())
                    .then(data=>{ console.log("data\n", data); })
                })
            </script>
        </div>
    </div>
</div>
