<main class="about_me_content">
    <div class="about_me_wrapper">

        <h2>Немного обо мне</h2>

        <div class="line_block1_wrapper">
            <div class="block_1 content_wrapper">
                <img src="../../../static/images/self_images/self_circle_img.png" alt="" class="img_block_1 noselect">
                <div class="text_content_block_1">
                    <h3 class="content_h">Косметолог Герасимова</h3>
                    <p class="p_block_1 p_content">
                        Герасимова Наталия Владимировна. Врач косметолог, дерматовенеролог, трихолог.
                        Врач интегративной медицины/антивозрастной медицины
                        Я стану Вашим экспертным гидом по красоте и здоровью. Позабочусь о красоте Вашего лица,
                        стройной фигуре и продлении молодости.
                    </p>
                    <div class="my_phone_num"> Мой номер: <span>+7 900 802-90-92</span></div>
                </div>
            </div>
        </div>


        <div class="line_block2_wrapper">
            <div class="block_2 content_wrapper">
                <img src="../../../static/images/self_images/DSC_3619.jpg" alt="" class="img_block_2 noselect">
                <div class="text_content_block_2">
                    <h3 class="content_h">Многолетний опыт работы</h3>
                    <p class="p_block_2 p_content">
                        На протяжении 18 лет я была Заведующей отделением косметологии и дерматологии в медицинском
                        центре «Лотос». В 2021 году я расширила границы своего медицинского совершенствования и получила
                        диплом врача интегративной медицины. Это дополнительное образование дало возможность не просто
                        лечить симптомы проявления болезней, а сконцентрироваться на здоровье и благополучии пациента в
                        долгосрочной перспективе.
                    </p>
                </div>
            </div>
        </div>


        <div class="line_block3_wrapper">
            <div class="block_3 content_wrapper">
                <div class="text_content_block_3">
                    <h3 class="content_h">Стану вашем проводником в мир красоты</h3>
                    <p class="p_block_3 p_content">
                        Многолетний опыт работы в купе с полученным багажом знаний по антивозрастной медицине, поможет
                        Вам не просто «замедлить» время, а оставаться красивыми, здоровыми и активными долгие года.
                    </p>
                </div>
                <img src="../../../static/images/self_images/DSC_4064.jpg" alt="" class="img_block_3 noselect">
            </div>
        </div>

    </div>

</main>